<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icloud.house.dao.HouseApplyMapper">

    <!-- 基础map -->
    <resultMap type="com.icloud.house.model.HouseApply" id="BaseResultMap">
     <id property="id" column="id"/>
     <result property="userId" column="user_id"/>
     <result property="name" column="name"/>
     <result property="phone" column="phone"/>
     <result property="createTime" column="create_time"/>
     <result property="status" column="status"/>
    </resultMap>

   <!-- 基础字段列 -->
   <sql id="Base_Column_List" >
id,user_id,name,phone,create_time,status
    </sql>
</mapper>