<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icloud.house.dao.HouseAreaMapper">

    <!-- 基础map -->
    <resultMap type="com.icloud.house.model.HouseArea" id="BaseResultMap">
     <id property="id" column="id"/>
     <result property="arenCode" column="aren_code"/>
     <result property="parentCode" column="parent_code"/>
     <result property="areanName" column="arean_name"/>
     <result property="arenLevel" column="aren_level"/>
    </resultMap>

   <!-- 基础字段列 -->
   <sql id="Base_Column_List" >
id,aren_code,parent_code,arean_name,aren_level
    </sql>
</mapper>